<template>
  <div class="flex flex-col min-h-screen py-2 justify-center bg-white/70">
    <div class="flex flex-col min-h-screen py-2 mb-20 justify-center max-w-2xl mx-auto">
      <h1 class=" font-semibold text-2xl text-center uppercase m-8">Costume Results</h1>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                No.
              </th>
              <th scope="col" class="px-6 py-3">
                Name
              </th>
              <th scope="col" class="px-6 py-3">
                Division
              </th>
              <th scope="col" class="px-6 py-3">
                Costume
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(index, item) in paginatedData" :key="index"
              class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <td class="px-6 py-4">
                {{ index.id }}.
              </td>
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ index.name }}
              </th>
              <td class="px-6 py-4">
                {{ index.division }}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ index.costume }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex justify-center mt-2">
        <button @click="prevPage" class="px-4 py-2 mx-1 font-semibold text-white bg-gray-900 rounded-lg dark:bg-gray-800">Prev</button>
        <span class="flex items-center h-10 px-5 text-gray-700 bg-white rounded-lg dark:bg-gray-700 dark:text-gray-200">
          Page {{ currentPage }} / {{ totalPages }}
        </span>
        <button @click="nextPage" class="px-4 py-2 mx-1 font-semibold text-white bg-gray-900 rounded-lg dark:bg-gray-800">Next</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import {onMounted, ref, computed} from "vue";
import { getRegister } from "../api/Register.js";

const data = ref([]);
const currentPage = ref(1);
const maxData = ref(10);

const paginatedData = computed(() => {
  if (data.value && data.value.length > 0) {
    const startIndex = (currentPage.value - 1) * maxData.value;
    const endIndex = currentPage.value * maxData.value;
    return data.value.slice(startIndex, endIndex);
  }
  return [];
});
const totalPages = computed(() => Math.ceil(data.value.length / maxData.value));
const nextPage = () => {
  if (currentPage.value < totalPages.value) currentPage.value++;
};
const prevPage = () => {
  if (currentPage.value > 1) currentPage.value--;
};

onMounted(() => {
  getRegister().then((res) => {
    // console.log('Get Data :\n', res);
    data.value = res;
    // console.log('Data : \n', data.value[0].name, data.value[0].division, data.value[0].costume);
  });
})
</script>