<template>
  <div class="flex flex-col min-h-screen py-2 justify-center bg-white/70">
    <h1 class="mt-6 text-xl font-bold text-center">
      The OffPeace Night
    </h1>
    <p class="mt-2 text-center">
      Where you can loose your hustle and bustle
    </p>
    <div class="flex justify-center mt-6">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 24 24" width="24" height="24">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 1c3.866 0 7 3.134 7 7 0 5.25-7 13-7 13s-7-7.75-7-13c0-3.866 3.134-7 7-7zm0 2a5 5 0 0 0-5 5c0 4.999 5 11 5 11s5-6 5-11a5 5 0 0 0-5-5zm0 2a3 3 0 0 1 3 3h-2a1 1 0 0 0-1-1V5z"/>
        </svg>
        <span class="ml-2">Broadway Bar & Lounge</span>
      </div>
    </div>
<!-- svg date icon and date span-->
    <div class="flex justify-center items-center mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 24 24" width="24" height="24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M19 3h-1V1h-2v2H8V1H6v2H5a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zM7 19H5V9h2v10zm12 0h-8V9h8v10zm0-12h-2V5h-2v2h-2V5h-2v2H9V5H7v2H5V5a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2z"/>
      </svg>
      <span class="ml-2">November 30th 2023</span>
      </div>
    <div class="flex justify-center items-center mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 24 24" width="24" height="24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 2a10 10 0 0 0-10 10 10 10 0 0 0 10 10 10 10 0 0 0 10-10 10 10 0 0 0-10-10zm0 2a8 8 0 0 1 8 8 8 8 0 0 1-8 8 8 8 0 0 1-8-8 8 8 0 0 1 8-8zm0 1v7h6v-2h-4V5z"/>
      </svg>
      <span class="ml-2">7pm till drop</span>
    </div>
    
    <form class="mt-6 flex flex-col items-center" @submit.prevent="submitForm">
      <div class="mb-5">
          <label for="name" class="font-bold mb-2 inline-block">Your Name</label>
          <input v-model="name" type="text" required class="block w-full py-3 px-4 text-gray-900 border border-gray-500 rounded-lg bg-gray-50 sm:text-md outline-gray-500 focus:outline-0">
      </div>
      <div v-if="nameError" class="mb-4 text-sm text-red-500 bg-white py-1 px-2 rounded">
        {{ nameError }}
      </div>
      <div class="mb-5">
          <label for="division" class="font-bold mb-2 inline-block">Your Division</label>
          <input v-model="divisi" type="text" required class="block w-full py-3 px-4 text-gray-900 border border-gray-500 rounded-lg bg-gray-50 sm:text-md outline-gray-500 focus:outline-0">
      </div>
      <div v-if="divisiError" class="mb-4 text-sm text-red-500 bg-white py-1 px-2 rounded">
        {{ divisiError }}
      </div>
      <div class="mt-2 mb-2"><button type="submit" class="block w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-11 py-3 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Get Your Costume</button></div>
      <!-- <p class="mb-12"><a href="/costume" class="text-gray-900 font-medium text-sm">Costume Results</a></p> -->
    </form>
    <div v-if="showModal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="bg flex items-center justify-center min-h-screen text-center">
        <div class="fixed inset-0 bg-white/70" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom text-left overflow-hidden transform transition-all sm:align-middle w-full min-h-screen">
          <div class="p-4 lg:-mb-14 text-right hidden">
            <button @click="showModal = false" type="button" class="inline-flex justify-center rounded-full leading-none border border-transparent shadow-sm px-2.5 pt-1 pb-2 bg-gray-500 text-base font-medium text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 sm:ml-3 sm:w-auto sm:text-sm">
              x
            </button>
          </div>
          <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4 text-center">
            <h3 class="font-normal text-xl">Your dress code:</h3>
            <h1 class="font-bold text-3xl text-slate-800">{{costumeResult}}</h1>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-14 mx-auto inline-block">
            <img :src="'/' + costumeResult.toLowerCase().split(' ').join('') + '.jpg'" :alt="costumeResult">
            </div>
            <div>
              <p class="text-xl">See you on November 30th 2023 at 7pm</p>
              <button @click="screenshotPage" class="px-4 py-2 mx-1 mt-5 font-semibold text-white bg-gray-900 rounded-lg dark:bg-gray-800">Take Screenshoot</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from 'vue'
import { getCostume, registerEvent } from "../api/Register.js";
import { screenshotPage } from "../api/Screenshoot.js";

const name = ref('');
const divisi = ref('');
const nameError = ref('');
const divisiError = ref('');
const showModal = ref(false);
const costumeResult = ref('');

watch(name, (newVal) => {
  if (!newVal) {
    nameError.value = 'Name is required';
  } else if (/[^a-zA-Z0-9 ]/g.test(newVal)) {
    nameError.value = 'Name cannot contain special characters';
  } else {
    nameError.value = '';
  }
});

watch(divisi, (newVal) => {
  if (!newVal) {
    divisiError.value = 'Division is required';
  } else if (/[^a-zA-Z0-9 ]/g.test(newVal)) {
    divisiError.value = 'Division cannot contain special characters';
  } else {
    divisiError.value = '';
  }
});

const submitForm = async () => {
  if (!nameError.value && !divisiError.value) {
    await registerEvent(name.value, divisi.value);
    costumeResult.value = await getCostume();
    showModal.value = true;
  }
}
</script>
