<template>
  <div class="flex flex-col items-center justify-center min-h-screen py-2">
    <h1 class="mt-6 text-6xl font-bold text-center text-gray-900">
      Login
    </h1>
    <p id="subtitle" class="mt-2 text-2xl text-center text-gray-600">
      Please login with your email
    </p>
    <form class="mt-6 flex flex-col items-center" @submit.prevent="login">
      <input
          class="px-4 py-2 mb-4 text-lg text-gray-700 transition-colors duration-300 border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
          type="email"
          placeholder="Email"
          v-model="email"
      />
      <input
          class="px-4 py-2 mb-4 text-lg text-gray-700 transition-colors duration-300 border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
          type="password"
          placeholder="Password"
          v-model="password"
      />
      <button
          class="px-4 py-2 text-lg text-white transition-colors duration-300 bg-blue-600 rounded-md hover:bg-blue-500"
          type="submit"
      >Login</button>
      <p>
        Dont have an account? <router-link to="/register">Register</router-link>
      </p>
    </form>
  </div>
</template>

<script setup>
import { onMounted } from "vue";
import { Auth } from '../api/Auth.js'
import {supabase} from "../supabase.js";
import router from "../routes.js";
const { email, password, login } = Auth()

onMounted(() => {
  supabase.auth.onAuthStateChange((_, session) => {
    if (session) {
      router.push({ path: '/' })
    }
  })
})
</script>