<template>
  <div class="flex flex-col items-center justify-center min-h-screen py-2">
    <h1 class="mt-6 text-6xl font-bold text-center text-gray-900">
      Register
    </h1>
    <p class="mt-2 text-2xl text-center text-gray-600">
      Please fill in the form below to create an account
    </p>
    <form class="mt-6 flex flex-col items-center" @submit.prevent="register">
      <input class="px-4 py-2 mb-4 text-lg text-gray-700 transition-colors duration-300 border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
              type="text"
              placeholder="First Name"
              v-model="first_name"
      />
      <input class="px-4 py-2 mb-4 text-lg text-gray-700 transition-colors duration-300 border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
              type="text"
              placeholder="Last Name"
              v-model="last_name"
      />
      <input
          class="px-4 py-2 mb-4 text-lg text-gray-700 transition-colors duration-300 border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
          type="email"
          placeholder="Email"
          v-model="email"
      />
      <input
          class="px-4 py-2 text-lg text-gray-700 transition-colors duration-300 border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
          type="password"
          placeholder="Password"
          v-model="password"
      />
      <button
          class="px-4 py-2 mt-5 text-lg text-white transition-colors duration-300 bg-blue-600 rounded-md hover:bg-blue-500"
          type="submit"
      >
        Register
      </button>
      <p class="mt-4">
        Already have an account? <router-link to="/login">Login</router-link>
      </p>
    </form>
  </div>
</template>

<script setup>
import { onMounted } from "vue";
import { Auth } from '../api/Auth.js'
import {supabase} from "../supabase.js";
import router from "../routes.js";
const { email, password, first_name, last_name, register } = Auth()

onMounted(() => {
  supabase.auth.onAuthStateChange((_, session) => {
    if (session) {
      router.push({ path: '/' })
    }
  })
})
</script>